useDynLib(prodlim)

export("Hist",
       "NN",
       "neighborhood",
       "predictSurvIndividual",
       "prodlim",
       "row.match",
       "sindex",
       "SimSurv")

S3method(print,Hist)
S3method(summary,Hist)
S3method(plot,Hist)
S3method(print,neighborhood)
S3method(print,prodlim)
S3method(summary,prodlim)
S3method(predict,prodlim)
S3method(plot,prodlim)

# since version 1.1.1
#S3method(jackknife,survival)
#S3method(jackknife,competing.risks)
#S3method(quantile,prodlim)

